.category-handle {
    cursor: grab;
}

#categories-table-body {
    max-height: 70vh;
    overflow-y: auto;
    /* scroll lateral invisivel */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}